@using TReport.TRForms;
@using TReport.TREntities;

@model List<Form>
<table>
@foreach (var item in Model)
{
    if (item.name == TREnergy.Report.EnergyFlowDay.ToString())
    {
        <tr>
            <td>
                @{ Html.RenderAction("ViewFormEnergyFlowDay", "EnergyDay", new { form = (Form)item});}
            </td>
        </tr>
    }
    if (item.name == TREnergy.Report.EnergyAVGDay.ToString())
    {
        <tr>
            <td>
                @{ Html.RenderAction("ViewFormEnergyAVGDay", "EnergyDay", new { form = (Form)item });}
            </td>
        </tr>

    }
    if (item.name == TREnergy.Report.EnergyGranulDay.ToString())
    {
        <tr>
            <td>
                @{ Html.RenderAction("ViewFormEnergyGranulDay", "EnergyDay", new { form = (Form)item });}
            </td>
        </tr>
    }
}
</table>