@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ДАТП<br />
    Служба по СРиВ АСУТП<br />
    @*<abbr title="Phone">P:</abbr>
    96332*@
</address>

<address>
    <strong>Разработчик:</strong>   <a href="mailto:Eduard.Levchenko@arcelormittal.com">Левченко Эдуард</a><br />
    <strong>Техническая поддержка:</strong> <a href="mailto:Igor.Vasilenko@arcelormittal.com">Василенко Игорь</a> <a href="mailto:Konstantin.Stryukachev@arcelormittal.com">Стрюкачев Константин</a>
</address>