@using WebUI.App_LocalResources;

@{
    ViewBag.Title = @GlobalResource.upeeenergy_title;
    ViewBag.Section = @GlobalResource.upeeenergy_section;
    ViewBag.URL = "../Images/layout-report/work.jpg";
    ViewBag.HierarchyMenu = "CTO;UPEE";
    Layout = "~/Views/Shared/_LayoutReportMenu.cshtml";
}

<ul class="bmenu">
    <li>@Html.ActionLink(@GlobalResource.report_add_energy, "UPEE", "EnergyDay")</li>
</ul>
