<?xml version="1.0" encoding="utf-8"?>
<appSettings>

  <!-- bf9 загрузка -->
  <add key="sp_bf9_ums" value="[bf9].[UnloadMaterialSmena]" />
  <add key="sp_bf9_ub" value="[bf9].[UnloadBunker]" />
  <!-- bf9 энергоресурсы -->
  <add key="sp_bf9_es" value="[bf9].[EnergoSutki]" />
  <add key="sp_bf9_espsi" value="[bf9].[EnergoSutkiPSI]" />  

  <!-- bf8 энергоресурсы -->
  <add key="sp_bf8_es" value="[bf8].[EnergoSutki]" />

  <!-- bf7 энергоресурсы -->
  <add key="sp_bf7_es" value="[bf7].[EnergoSutki]" />
</appSettings>
